# Gradle
.gradle/
build/

# Kotlin / IntelliJ
.kotlin/

# Android Studio / IntelliJ
.idea/
*.iml

# Lokale Konfiguration
local.properties

# Android spezifisch
/captures
.externalNativeBuild/
.cxx/

# Logs & temporäre Dateien
*.log
*.tmp

# Keystore (für Release Builds, niemals ins Repo!)
*.jks
*.keystore

# Betriebssystem spezifisch
.DS_Store
Thumbs.db
